10     RCDATA  "0101_fmtune_big.png"
11     RCDATA  "0102_fmtune.png"
12     RCDATA  "0103_options.png"
13     RCDATA  "0104_volume.png"
14     RCDATA  "0105_equalizer.png"
15     RCDATA  "0106_info.png"
16     RCDATA  "0107_recording.png"
17     RCDATA  "0108_stations.png"
18     RCDATA  "0109_formats.png"
19     RCDATA  "0110_editstations.png"
20     RCDATA  "0111_fastaddstation.png"
21     RCDATA  "0112_copy.png"

22     RCDATA  "0201_add.png"
23     RCDATA  "0202_delete.png"
24     RCDATA  "0203_up.png"
25     RCDATA  "0204_down.png"

26     RCDATA  "0301_online.png"
27     RCDATA  "0302_ffc.png"
28     RCDATA  "0303_away.png"
29     RCDATA  "0304_na.png"
30     RCDATA  "0305_occ.png"
31     RCDATA  "0306_dnd.png"
32     RCDATA  "0307_invisible.png"
33     RCDATA  "0308_lunch.png"
34     RCDATA  "0309_depression.png"
35     RCDATA  "0310_evil.png"
36     RCDATA  "0311_at_home.png"
37     RCDATA  "0312_at_work.png"
38     RCDATA  "0313_offline.png"

39     RCDATA  "0401_mute.png"
40     RCDATA  "0402_unmute.png"
41     RCDATA  "0403_export.png"
42     RCDATA  "0404_import.png"

43     RCDATA  "0501_checkmenuitem.png"
44     RCDATA  "0502_update.png"
45     RCDATA  "0503_comment.png"
46     RCDATA  "0504_folder.png"
47     RCDATA  "0505_favourite.png"

48     RCDATA  "0601_general.png"
49     RCDATA  "0602_advanced.png"
50     RCDATA  "0603_skin.png"
51     RCDATA  "0604_hotkeys.png"
52     RCDATA  "0605_connect.png"
53     RCDATA  "0606_popup.png"
54     RCDATA  "0607_extsource.png"
